Now we're going to load a library offering some additional funcionatlity.

In [15]:
100 / 2 - 2 ^ 3 + 5 * 2

[1] 52

In [16]:
100 / (2 - 2 ^ 3) + 5 * 2

[1] -6.666667

In [20]:
x <- c(1, 1, 2, 3, 5, 8, 13)

In [21]:
x * 2 - 1

[1]  1  1  3  5  9 15 25

In [24]:
y <- c(3, 1, 4, 1, 5, 9, 2)

In [25]:
x + y

[1]  4  2  6  4 10 17 15

In [28]:
t <- seq(0, 1, 0.1)

In [29]:
t

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

In [30]:
negatives <- (x - y) < 0

In [31]:
negatives

[1]  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE

In [32]:
x - y

[1] -2  0 -2  2  0 -1 11

In [33]:
x <- c(1, 2, 3, 0/0)

In [34]:
x

[1]   1   2   3 NaN

In [35]:
mean(x)

[1] NaN

In [40]:
mean(x, na.rm=TRUE)

[1] 2

In [44]:
x[2]

[1] 2

In [45]:
x[2:3]

[1] 2 3

In [46]:
x[-2]

[1]   1   3 NaN

In [41]:
x[!is.na(x) & x > 1]

[1] 2 3

In [43]:
x[!is.na(x) & (x == 1 | x == 3)]

[1] 1 3

Several mathematical functions are available: min, max, log, exp, sin, cos, tan.

In [49]:
max(y)

[1] 9

In [50]:
length(y)
range(y)

[1] 7

[1] 1 9

In [52]:
sum(y)
mean(y)

[1] 25

[1] 3.571429

In [55]:
x <- floor(runif(10, 0, 10))

In [57]:
x
sort(x)

 [1] 9 0 6 8 5 8 7 0 9 7

 [1] 0 0 5 6 7 7 8 8 9 9

### Factors - categorical variable

In [58]:
steatosisGrade <- c("S0", "S0", "S2", "S1", "S2", "S0", "S1", "S3", "S1", "S2", "S3")

In [59]:
length(steatosisGrade)

[1] 11

In [60]:
steatosisGradeF <- factor(steatosisGrade)

In [61]:
levels(steatosisGradeF)

[1] "S0" "S1" "S2" "S3"

In [62]:
fatFraction <- c(2.3, 3.0, 45.3, 12.5, 35.6, 0.6, 7.8, 73.7, 13.3, 40.5, 89.0)

In [64]:
tapply(fatFraction, steatosisGradeF, mean)

       S0        S1        S2        S3
 1.966667 11.200000 40.466667 81.350000

[1] 11